-var navclass = 'nav';
header
  .header-container
    .container
      .header-section.d-flex.justify-content-between.align-items-center
        .header-logo
          a(href="index.html")
            if selected === 'Blog' || selected === 'Home' || selected === '404'
              svg(xmlns="http://www.w3.org/2000/svg" width="1845" height="900" viewBox="0 0 3690 1800")
                path#Polygon_1.cls-1(data-name="Polygon 1" d="M1287.23,268.615l304.11,334.341-137.5,430.534-441.61,96.2L708.118,795.346l137.5-430.535Z")
                path(class="cls-2" d="M1432.62,1031.18l23.13-20.84,84.64,93.93-23.14,20.85Z")
                path(class="cls-2" d="M1497.58,1077.66c74.71-67.32,328.23,128.03,486.09,349.27,122.31,171.41,139.38,280.94,102.1,314.53-37.4,33.7-143.63,3.9-298.5-137.57C1587.15,1421.09,1422.79,1145.04,1497.58,1077.66Z")
                path(class="cls-3" d="M1711.31,1311.97c36.91-33.26,146.1,27.76,243.88,136.29s147.13,223.47,110.22,256.72-146.1-27.77-243.88-136.3S1674.4,1345.22,1711.31,1311.97Z")
                path(id="Ellipse_2_copy" data-name="Ellipse 2 copy" class="cls-2" d="M1671.29,1285.02c36.9-33.25,146.09,27.77,243.87,136.3s147.14,223.47,110.23,256.72-146.1-27.77-243.88-136.3S1634.38,1318.28,1671.29,1285.02Z")
                path(class="cls-2" d="M1267.03,343.8l126.2,137.546-21.99,20.168L1245.05,363.97Z")
                path(id="Rectangle_3_copy" data-name="Rectangle 3 copy" class="cls-2" d="M1389.03,476.8l126.2,137.546-21.99,20.168L1367.05,496.97Z")
                path(id="Rectangle_4_copy_3" data-name="Rectangle 4 copy 3" class="cls-2" d="M1245.5,349.792l12.41,27.361-36.22,16.1-30.06-30.873Z")
                path(id="Rectangle_4_copy_4" data-name="Rectangle 4 copy 4" class="cls-2" d="M1266.07,344.75l10.66,23.513L1245.61,382.1l-25.84-26.53Z")
                path(id="Rectangle_4_copy_5" data-name="Rectangle 4 copy 5" class="cls-2" d="M1508.59,635.166l-26.38-14.394-18.72,34.941,28.57,32.249Z")
                path(id="Rectangle_4_copy_6" data-name="Rectangle 4 copy 6" class="cls-2" d="M1515.13,615.026l-22.67-12.369-16.09,30.026,24.56,27.712Z")
                text(id="k" class="cls-4" transform="translate(368.967 1071.482) scale(16.156)")
                  tspan(x="0") k
                text(id="m" class="cls-5" transform="translate(2216.376 1065.722) scale(4.679)")
                  tspan(x="0") m
                text(id="b" class="cls-5" transform="translate(3221.377 1065.722) scale(4.679)")
                  tspan(x="0") b
              -var navclass = 'nav nav-light';
            else
              svg(xmlns="http://www.w3.org/2000/svg" width="1845" height="900" viewBox="0 0 3690 1800")
                path#Polygon_1.cls-1(data-name="Polygon 1" d="M1287.23,268.615l304.11,334.341-137.5,430.534-441.61,96.2L708.118,795.346l137.5-430.535Z")
                path(class="cls-2" d="M1432.62,1031.18l23.13-20.84,84.64,93.93-23.14,20.85Z")
                path(class="cls-2" d="M1497.58,1077.66c74.71-67.32,328.23,128.03,486.09,349.27,122.31,171.41,139.38,280.94,102.1,314.53-37.4,33.7-143.63,3.9-298.5-137.57C1587.15,1421.09,1422.79,1145.04,1497.58,1077.66Z")
                path(class="cls-3" d="M1711.31,1311.97c36.91-33.26,146.1,27.76,243.88,136.29s147.13,223.47,110.22,256.72-146.1-27.77-243.88-136.3S1674.4,1345.22,1711.31,1311.97Z")
                path(id="Ellipse_2_copy" data-name="Ellipse 2 copy" class="cls-2" d="M1671.29,1285.02c36.9-33.25,146.09,27.77,243.87,136.3s147.14,223.47,110.23,256.72-146.1-27.77-243.88-136.3S1634.38,1318.28,1671.29,1285.02Z")
                path(class="cls-2" d="M1267.03,343.8l126.2,137.546-21.99,20.168L1245.05,363.97Z")
                path(id="Rectangle_3_copy" data-name="Rectangle 3 copy" class="cls-2" d="M1389.03,476.8l126.2,137.546-21.99,20.168L1367.05,496.97Z")
                path(id="Rectangle_4_copy_3" data-name="Rectangle 4 copy 3" class="cls-2" d="M1245.5,349.792l12.41,27.361-36.22,16.1-30.06-30.873Z")
                path(id="Rectangle_4_copy_4" data-name="Rectangle 4 copy 4" class="cls-2" d="M1266.07,344.75l10.66,23.513L1245.61,382.1l-25.84-26.53Z")
                path(id="Rectangle_4_copy_5" data-name="Rectangle 4 copy 5" class="cls-2" d="M1508.59,635.166l-26.38-14.394-18.72,34.941,28.57,32.249Z")
                path(id="Rectangle_4_copy_6" data-name="Rectangle 4 copy 6" class="cls-2" d="M1515.13,615.026l-22.67-12.369-16.09,30.026,24.56,27.712Z")
                text(id="k" class="cls-4" transform="translate(368.967 1071.482) scale(16.156)")
                  tspan(x="0") k
                text(id="m" class="cls-5" transform="translate(2216.376 1065.722) scale(4.679)")
                  tspan(x="0") m
                text(id="b" class="cls-5" transform="translate(3221.377 1065.722) scale(4.679)")
                  tspan(x="0") b
              -var navclass = 'nav';  
        .header-menu
          -var menu = { 'Search': '#', 'Curated Discovery' : '#', 'Our Blog': '#', 'About Us': '#'};
          ul(class=navclass)
            each val, key in menu
              if selected === key
                li.nav-item.active
                  a.nav-link(href=val)= key
              else
                li.nav-item
                  a.nav-link(href=val)= key
            .header-button
              ul.d-flex.align-items-xl-center.flex-column.flex-xl-row
                li
                  a(href="#").notify
                    img(src="./assets/images/bell.png", alt="Cartaygo")
                li
                  a(href="#").black.btn.nobo Login
                li 
                  a(href="#").black.btn Sign Up
          .mobile-menu
            span
            span
            span
          .i-absolute
            a(href="#") 
              img(src="./assets/images/nav-search.png", alt="Cartaygo")