extends ../layouts/default-layout.pug
block pageTitle
  -var title = 'Cartaygo';
block active
  -var selected = 'Home';
block content
  .main-content.landing-page
    section
        .example-blog-hero
            .example-blog-hero-background
                img(src="./assets/images/example-blog.png", alt="Cartaygo")
        .container 
            .example-blog-card
                .text 
                    h1 The best  gadgets you can buy for your Kitchen 
                    p By Ryan Kendall on March 27th, 2021 - Kitchen Appliances
            .example-blog-post 
                .text
                    h3 Lorem Ipsum 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros a magna aliquam urna blandit. Laoreet at dis fusce vulputate mauris. Maecenas proin mattis libero pharetra. Senectus non faucibus cursus leo potenti hendrerit tellus eros. Suspendisse aliquam sagittis lectus maecenas platea dolor risus. Duis rhoncus imperdiet fermentum blandit malesuada.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros a magna aliquam urna blandit. Laoreet at dis fusce
                    h3 Sit amet saojfoiisj sksk Moptesn 
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros a magna aliquam urna blandit. Laoreet at dis fusce vulputate mauris. Maecenas proin mattis libero pharetra. Senectus non faucibus cursus leo potenti hendrerit tel.
                    h3 Maecenas proin mattis libero pharetra
            .example-blog-price
                .background 
                    .d-flex.justify-content-between.flex-column.flex-xl-row
                        .image 
                            img(src="./assets/images/our-pick-img.png", alt="Cartaygo")
                        .text 
                            h3 Neque sit ut sociis nibh sit odio orci rhoncus.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros a magna aliquam urna blandit. 
                                a(href="#") Read more
                        .price
                            .border 
                                h3.dollar $29.99
                                p Amazon Price
                            .border.mobl
                                h3.rate 4.3
                                    span /5
                                p Rating
                            .button 
                                button View at Amazon
                .background 
                    .d-flex.justify-content-between.flex-column.flex-xl-row
                        .image
                            img(src="./assets/images/on-sale-img.png", alt="Cartaygo")
                        .text 
                            h3 Neque sit ut sociis nibh sit odio orci rhoncus.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros a magna aliquam urna blandit. Eros a magna aliquam urna
                        .price
                            .border 
                                h3.dollar $29.99
                                p Amazon Price
                            .border.mobl
                                h3.rate 4.3
                                    span /5
                                p Rating
                            .button 
                                button View at Amazon
                        .button-mobl 
                            button View at Amazon
                    .text.full-w
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros a magna aliquam urna blandit. Laoreet at dis fusce vulputate mauris. Maecenas proin mattis libero pharetra. Senectus non faucibus cursus leo potenti hendrerit tellus eros. Suspendisse aliquam sagittis lectus maecenas platea dolor risus. Duis rhoncus imperdiet fermentum blandit malesuada.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros a magna aliquam urna blandit. Laoreet at dis fusce
                        br
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros a magna aliquam urna blandit. Laoreet at dis fusce vulputate mauris. Maecenas proin mattis libero pharetra. Senectus non faucibus cursus leo potenti hendrerit tellus eros. Suspendisse aliquam sagittis lectus maecenas platea dolor risus. Duis rhoncus imperdiet fermentum blandit malesuada.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros a magna aliquam urna blandit. Laoreet at dis fusce Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros a magna aliquam urna blandit. Laoreet at dis fusce vulputate mauris. Maecenas proin mattis libero pharetra. Senectus non faucibus cursus leo potenti hendrerit tellus eros. Suspendisse aliquam sagittis lectus maecenas platea dolor risus. Duis rhoncus imperdiet fermentum blandit malesuada.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros a magna aliquam urna blandit. Laoreet at dis fusce. 
                            a(href="#") Less Content
                .background 
                    .d-flex.justify-content-between.flex-column.flex-xl-row
                        .image 
                            img(src="./assets/images/best-value-img.png", alt="Cartaygo")
                        .text 
                            h3 Neque sit ut sociis nibh sit odio orci rhoncus.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eros a magna aliquam urna blandit. 
                                a(href="#") Read more
                        .price
                            .border 
                                h3.dollar $29.99
                                p Amazon Price
                            .border.mobl
                                h3.rate 4.3
                                    span /5
                                p Rating
                            .button 
                                button View at Amazon
                        .button-mobl 
                            button View at Amazon
            .example-blog-slider
                .text 
                    h1 Links to other related posts that user might read
                .slider
                    .d-flex.flex-column.flex-xl-row.komb-slider
                        .item
                            .background 
                                img(src="./assets/images/slider-1.png", alt="Cartaygo")
                            .text 
                                h3 Kitchen
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                p.price $45.50
                        .item
                            .background 
                                img(src="./assets/images/slider-2.png", alt="Cartaygo")
                            .text 
                                h3 Kitchen
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                p.price $45.50
                        .item
                            .background 
                                img(src="./assets/images/slider-3.png", alt="Cartaygo")
                            .text 
                                h3 Kitchen
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                p.price $45.50
                        .item
                            .background 
                                img(src="./assets/images/slider-4.png", alt="Cartaygo")
                            .text 
                                h3 Kitchen
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                p.price $45.50
                        .item
                            .background 
                                img(src="./assets/images/slider-5.png", alt="Cartaygo")
                            .text 
                                h3 Kitchen
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                p.price $45.50
                        .item
                            .background 
                                img(src="./assets/images/result-1.png", alt="Cartaygo")
                            .text 
                                h3 Kitchen
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                p.price $45.50
                .button
                    .button-img.d-flex
                        button.btn-carousel-prev
                            img(src="./assets/images/arrow-left.png", alt="Cartaygo")
                        button.btn-carousel-next
                            img(src="./assets/images/arrow-right.png", alt="Cartaygo")