.result{
    &-hero{
        padding-top: 100px;
        &-background{
            max-width: 1440px;
            margin: 0 auto;
            width: 100%;
            position: relative;
            @media(max-width: $xl){
                height:283px;
            }
            img{
                width: 100%;
                height: 100%;
                @media(max-width: $xl){
                    width:calc(100% + 300px);
                    margin-left: -200px;
                }
            }
            .container{
                position: absolute;
                left: 105px;
                top: 30px;
                @media(max-width: $xl){
                    left: 0px;
                }
                .text{
                    background: rgba(255, 255, 255, 0.8);
                    box-shadow: 0px 30px 80px rgba(30, 48, 71, 0.06);
                    backdrop-filter: blur(40px);
                    border-radius: 14px;
                    max-width: 488px;
                    width: 100%;
                    height: 235px;
                    padding: 24px 30px;
                    @media(max-width: $xl){
                        padding: 16px;
                    }
                    h3{
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 36px;
                    }
                    p{
                        font-size: 15px;
                        line-height: 32px;
                    }
                    a{
                        font-size: 15px;
                        line-height: 22px;
                        color: #FF7322;
                        font-family: $poppins;
                    }
                }
            }
        }
        .button-search{
            margin: 100px 0;
            @media(max-width: $xl){
                margin: 50px 0;
            }
            form{
                .border{
                    background: #FFFFFF;
                    border: 0.2px solid #757D95;
                    box-shadow: 0px 20px 80px rgba(33, 42, 68, 0.07);
                    border-radius: 54px;
                    padding: 14px 40px;
                    @media(max-width: $xl){
                        padding-left: 20px;
                        width: 100%;
                    }
                }
                input{
                    border: none;
                    width: 362px;
                    outline: none;
                    font-family: $poppins;
                    font-size: 17px;
                    @media(max-width: $xl){
                        width: 100%;
                        font-size: 15px;
                    }
                    &::placeholder{
                        color: #B3B9CB;
                    }
                }
                button{
                    background: #FF7322;
                    box-sizing: border-box;
                    box-shadow: 0px 20px 50px rgba(43, 45, 51, 0.2);
                    border-radius: 54px;
                    padding: 16px 45px;
                    font-size: 16px;
                    margin-left: -45px;
                    @media(max-width: $xl){
                        padding: 16px 24px;
                    }
                    span{
                        @media(max-width: $xl){
                            display: none;
                        }
                    }
                    img{
                        width: 24px;
                        height: 24px;
                        @media(min-width: $xl){
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &-result{
        .text{
            h1{
                font-weight: 600;
                font-size: 38px;
                line-height: 110%;
            }
        }
        .button{
            background: #F5F6F8;
            border-radius: 25px;
            padding: 0;
            height: 40px;
            display: inline-block;
            button{
                font-size: 14px;
                color: #2B2D33;
                font-weight: 600;
                background: #fff;
                padding: 8px 14px;
                margin: 1px 2px 0;
                box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.07);
                border-radius: 26px;
                outline: none;
                &:last-child{
                    background: transparent;
                    box-shadow: none;
                }
            }
        }
        &-card{
            background: #FFFFFF;
            box-shadow: 0px 20px 80px rgba(56, 67, 95, 0.07);
            border-radius: 16px;
            margin-top: 60px;
            padding: 16px;
            position: relative;
            @media(max-width: $xl){
                margin-top: 40px;
            }
            .button-cursor{
                position: absolute;
                left: 22px;
                top: 180px;
                background: transparent !important;
                width: 100%;
                z-index: 99;
                width: 253px;
                display: flex;
                justify-content: space-between;
                @media(max-width: $xl){
                    width: 179px;
                    left: 7px;
                }
                button{
                    padding: 8px 14px;
                    background: rgba(255, 255, 255, 0.3);
                    backdrop-filter: blur(20px);
                    border-radius: 50%;
                    &:last-child:active{
                        margin-right: 5px;
                    }
                    @media(max-width: $xl){
                        padding: 6px 12px;
                        backdrop-filter: blur(17.7778px);
                    }
                    img{
                        width: 7px;
                        margin-bottom: 2px;
                        @media(max-width: $xl){
                            width: 6px;
                        }
                    }
                }
            }
            .your-pick{
                position: absolute;
                top: 16px;
                width: 182px;
                right: -30px;
                @media(max-width: $xl){
                    width: 116px;
                    right: 16px;
                    top: 110px;
                }
                img{
                    width: 100%;
                }
            }
            .image{
                width: 265px;
                border-radius: 10px;
                overflow: hidden;
                margin-bottom: 0 !important;
                position: relative;
                .slick-track{
                    padding: 0 !important;
                }
                .slick-dots{
                    bottom: 40px;
                    li{
                        width: 8px;
                        height: 8px;
                        opacity: .3;
                        button{
                            background: #fff;
                            width: 8px;
                            height: 8px;
                            @media(max-width: $xl){
                                background: transparent;
                            }
                        }
                    }
                    .slick-active{
                        opacity: 1;
                    }
                }
                @media(max-width: $xl){
                    width: 160px;
                    height: 170px;
                    margin-top: 90px;
                }
                img{
                    width: 265px;
                    height: 100%;
                    @media(max-width: $xl){
                        width: 160px;
                        height: 170px;
                    }
                }
            }
            .right{
                width: 575px;
                margin-left: 32px;
                @media(max-width: $xl){
                    margin-left: 0;
                    width: 100%;
                }
                .text{
                    h2{
                        font-weight: 600;
                        font-size: 30px;
                        line-height: 150%;
                        margin-bottom: 32px;
                        @media(max-width: $xl){
                            font-size: 22px;
                            line-height: 150%;
                            margin: 0;
                            position: absolute;
                            top: 16px;
                        }
                    }
                }
                .grid{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 16px;
                    @media(max-width: $xl){
                        grid-template-columns: repeat(2, 1fr);
                        margin-top: 40px;
                    }
                    button{
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 21px;
                        color: #757D95;
                        background: none;
                        border: 0.5px solid #B6BFD8;
                        border-radius: 50px;
                        padding: 10px 25px;
                    }
                }
                .button{
                    margin-top: 20px;
                    background: transparent;
                    display: block;
                    button{
                        width: 100%;
                        background: #FF7322;
                        box-shadow: 0px 10px 30px rgba(43, 45, 51, 0.1);
                        border-radius: 100px;
                        padding: 15px 0;
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 25px;
                        color: #FFFFFF;
                    }
                }
            }
            .price{
                margin-top: 80px;
                margin-left: 55px;
                width: 140px;
                @media(max-width: $xl){
                    position: absolute;
                    right: 16px;
                    top: 70px;
                }
                .border{
                    margin-bottom: 6px;
                    border-radius: 10px;
                    padding: 6px;
                    @media(min-width: $xl){
                        border: none !important;
                        margin: 0;
                        padding: 0;
                    }
                }
                h3{
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 130%;
                    text-align: right;
                    @media(max-width: $xl){
                        text-align: center;
                        font-size: 24px;
                        line-height: 31px;
                        margin: 0;
                    }
                    span{
                        color: #637381;
                        font-size: 15px;
                    }
                }
                .rate{
                    margin-top: 40px;
                    @media(max-width: $xl){
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
                p{
                    font-size: 16px;
                    line-height: 32px;
                    text-align: right;
                    @media(max-width: $xl){
                        text-align: center;
                        margin: 0;
                    }
                }
            }
            .more{
                width: 100%;
                margin-top: 25px;
                @media(max-width: $xl){
                    margin-top: 30px;
                }
                button{
                    border: 0.5px solid #FF7322;
                    border-radius: 100px;
                    background: transparent;
                    font-size: 17px;
                    line-height: 25px;
                    color: #FF7322;
                    width: 100%;
                }
                &-view{
                    margin-top: 40px;
                    h2{
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 130%;
                        color: #161F3D;
                        @media(max-width: $xl){
                            font-weight: 600;
                            font-size: 20px;
                            margin-bottom: 0;
                        }
                    }
                    .rating{
                        .margin{
                            margin-top: 20px;
                            @media(max-width: $xl){
                                margin-top: 16px;
                            }
                            .star{
                                img{
                                    width: 18px;
                                    margin-right: 5px;
                                    @media(max-width: $xl){
                                        width: 10px;
                                        margin-right: 3px;
                                    }
                                }
                            }
                            .numb{
                                img{
                                    width: 24px;
                                    margin-right: 12px;
                                    margin-left: 7px;
                                }
                            }
                            p{
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 27px;
                                color: #757D95;
                                @media(max-width: $xl){
                                    font-size: 12px;
                                    line-height: 18px;
                                }
                            }
                        }
                    }
                    .shipping{
                        @media(max-width: $xl){
                            margin-top: 40px;
                        }
                        .logo{
                            margin-top: 20px;
                            @media(max-width: $xl){
                                margin-top: 16px;
                            }
                            img{
                                width: 80px;
                            }
                        }
                    }
                    .brand{
                        margin-right: 20px;
                        h2{
                            @media(max-width: $xl){
                                margin-top: -71px;
                                text-align: right;
                                margin-bottom: 0;
                                margin-right: 60px;
                            }
                        }
                        .text{
                            p{
                                font-weight: 500;
                                font-size: 22px;
                                line-height: 130%;
                                color: #161F3D;
                                text-align: right;
                                @media(max-width: $xl){
                                    margin-top: 15px;
                                    margin-right: 87px;
                                }
                            }
                        }
                    }
                    .description{
                        h2{
                            margin: 24px 0 0 0;
                        }
                        p{
                            margin: 16px 0 0 0;
                            font-size: 18px;
                            line-height: 30px;
                        }
                        &-details{
                            @media(max-width: $xl){
                                margin-top: 24px;
                            }
                            .d-flex{
                                margin-top: 16px;
                                @media(max-width: $xl){
                                    margin-top: 0;
                                    margin-bottom: 16px;
                                }
                                h4{
                                    font-weight: 500;
                                    font-size: 18px;
                                    line-height: 27px;
                                    color: #757D95;
                                    font-family: $poppins;
                                    width: 235px;
                                    margin-right: 130px;
                                    @media(max-width: $xl){
                                        color: #161F3D;
                                        font-size: 16px;
                                        line-height: 24px;
                                        width: 100%;
                                        margin-bottom: 0px;
                                    }
                                }
                                p{
                                    margin: 0;
                                }
                            }
                        }
                    }
                    .customers{
                        margin-bottom: 30px;
                        h2{
                            margin: 24px 0 0 30px;
                            @media(max-width: $xl){
                                margin: 40px 0 0 0;
                            }
                        }
                        &-saying{
                            margin-top: 24px;
                            padding: 0 70px;
                            @media(max-width: $xl){
                                padding: 0;
                            }
                            .slick-track{
                                padding: 0px !important;
                            }
                            .item{
                                background: #FFFFFF;
                                box-shadow: 0px 20px 80px rgba(56, 67, 95, 0.07);
                                border-radius: 16px;
                                padding: 24px;
                                width: 447px;
                                margin-right: 40px;
                                @media(max-width: $xl){
                                    width: 320px;
                                    box-shadow: none;
                                    border: 1px solid #B3B9CB;
                                    margin-right: 16px;
                                    padding: 16px 16px 24px;
                                }
                                .profile{
                                    .image{
                                        width: 40px;
                                        height: 40px;
                                        border-radius: 50%;
                                        margin-right: 16px;
                                        @media(max-width: $xl){
                                            margin-top: 0;
                                        }
                                        img{
                                            width: 100%;
                                            height: 100%;
                                            @media(max-width: $xl){
                                                height: 100% !important;
                                            }
                                        }
                                    }
                                    .text{
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 24px;
                                        color: #161F3D;
                                    }
                                }
                                .rate{
                                    margin: 16px 0 0;
                                    .star{
                                        display: flex;
                                        img{
                                            width: 18px;
                                            margin-right: 2px;
                                            height: 18px;
                                        }
                                    }
                                    p{
                                        margin: 3px 0 0 16px;
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 24px;
                                        color: #161F3D;
                                        @media(max-width: $xl){
                                            margin: 16px 0 0;
                                        }
                                    }
                                }
                                .lowhen{
                                    margin: 12px 0 0;
                                    @media(max-width: $xl){
                                        margin: 16px 0 0;
                                    }
                                    p{
                                        font-size: 16px;
                                        line-height: 24px;
                                        margin: 0;
                                    }
                                }
                                .size{
                                    margin: 12px 0 0;
                                    position: relative;
                                    @media(max-width: $xl){
                                        margin: 16px 0 0;
                                        padding-bottom: 23px;
                                    }
                                    p{
                                        font-size: 14px;
                                        line-height: 21px;
                                        margin:0;
                                    }
                                    span{
                                        font-size: 14px;
                                        line-height: 21px;
                                        margin:0 10px;
                                        font-family: $poppins;
                                    }
                                    .orange{
                                        color: #FF7322;
                                        @media(max-width: $xl){
                                            position: absolute;
                                            bottom: 0;
                                        }
                                    }
                                }
                                .description{
                                    margin: 12px 0 0;
                                    p{
                                        margin: 0;
                                        font-size: 15px;
                                        line-height: 22px;
                                        color: #161F3D;
                                    }
                                }
                                .helpful{
                                    margin: 16px 0 0;
                                    p{
                                        font-size: 14px;
                                        line-height: 21px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-recommendation{
        margin-top: 150px;
        @media(max-width: $xl){
            margin-top: 80px;
        }
        .text{
            h1{
                font-weight: 600;
                font-size: 38px;
                line-height: 110%;
                @media(max-width: $xl){
                    font-size: 27px;
                    line-height: 40px;
                    letter-spacing: -0.5px;
                }
            }
        }
        &-card{
            background: #FFFFFF;
            box-shadow: 0px 20px 80px rgba(56, 67, 95, 0.07);
            border-radius: 16px;
            margin-top: 60px;
            padding: 16px;
            position: relative;
            @media(max-width: $xl){
                margin-top: 40px;
            }
            .button-cursor{
                position: absolute;
                left: 22px;
                top: 180px;
                background: transparent !important;
                width: 100%;
                z-index: 99;
                width: 253px;
                display: flex;
                justify-content: space-between;
                @media(max-width: $xl){
                    width: 179px;
                    left: 7px;
                }
                button{
                    padding: 8px 14px;
                    background: rgba(255, 255, 255, 0.3);
                    backdrop-filter: blur(20px);
                    border-radius: 50%;
                    &:last-child:active{
                        margin-right: 5px;
                    }
                    @media(max-width: $xl){
                        padding: 6px 12px;
                        backdrop-filter: blur(17.7778px);
                    }
                    img{
                        width: 7px;
                        margin-bottom: 2px;
                        @media(max-width: $xl){
                            width: 6px;
                        }
                    }
                }
            }
            .your-pick{
                position: absolute;
                top: 16px;
                width: 182px;
                right: -30px;
                @media(max-width: $xl){
                    width: 116px;
                    right: 16px;
                    top: 110px;
                }
                img{
                    width: 100%;
                }
            }
            .image{
                width: 265px;
                border-radius: 10px;
                overflow: hidden;
                margin-bottom: 0 !important;
                position: relative;
                .slick-track{
                    padding: 0 !important;
                }
                .slick-dots{
                    bottom: 40px;
                    li{
                        width: 8px;
                        height: 8px;
                        opacity: .3;
                        button{
                            background: #fff;
                            width: 8px;
                            height: 8px;
                            @media(max-width: $xl){
                                background: transparent;
                            }
                        }
                    }
                    .slick-active{
                        opacity: 1;
                    }
                }
                @media(max-width: $xl){
                    width: 160px;
                    height: 170px;
                    margin-top: 90px;
                }
                img{
                    width: 265px;
                    height: 100%;
                    @media(max-width: $xl){
                        width: 160px;
                        height: 170px;
                    }
                }
            }
            .right{
                width: 575px;
                margin-left: 32px;
                @media(max-width: $xl){
                    margin-left: 0;
                    width: 100%;
                }
                .text{
                    h2{
                        font-weight: 600;
                        font-size: 30px;
                        line-height: 150%;
                        margin-bottom: 32px;
                        @media(max-width: $xl){
                            font-size: 22px;
                            line-height: 150%;
                            margin: 0;
                            position: absolute;
                            top: 16px;
                        }
                    }
                }
                .grid{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 16px;
                    @media(max-width: $xl){
                        grid-template-columns: repeat(2, 1fr);
                        margin-top: 40px;
                    }
                    button{
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 21px;
                        color: #757D95;
                        background: none;
                        border: 0.5px solid #B6BFD8;
                        border-radius: 50px;
                        padding: 10px 25px;
                    }
                }
                .button{
                    margin-top: 20px;
                    background: transparent;
                    display: block;
                    button{
                        width: 100%;
                        background: #FF7322;
                        box-shadow: 0px 10px 30px rgba(43, 45, 51, 0.1);
                        border-radius: 100px;
                        padding: 15px 0;
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 25px;
                        color: #FFFFFF;
                    }
                }
            }
            .price{
                margin-top: 80px;
                margin-left: 55px;
                width: 140px;
                @media(max-width: $xl){
                    position: absolute;
                    right: 16px;
                    top: 70px;
                }
                .border{
                    margin-bottom: 6px;
                    border-radius: 10px;
                    padding: 6px;
                    @media(min-width: $xl){
                        border: none !important;
                        margin: 0;
                        padding: 0;
                    }
                }
                h3{
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 130%;
                    text-align: right;
                    @media(max-width: $xl){
                        text-align: center;
                        font-size: 24px;
                        line-height: 31px;
                        margin: 0;
                    }
                    span{
                        color: #637381;
                        font-size: 15px;
                    }
                }
                .rate{
                    margin-top: 40px;
                    @media(max-width: $xl){
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
                p{
                    font-size: 16px;
                    line-height: 32px;
                    text-align: right;
                    @media(max-width: $xl){
                        text-align: center;
                        margin: 0;
                    }
                }
            }
            .more{
                width: 100%;
                margin-top: 8px;
                @media(max-width: $xl){
                    margin-top: 12px;
                }
                button{
                    border: 0.5px solid #FF7322;
                    border-radius: 100px;
                    background: transparent;
                    font-size: 17px;
                    line-height: 25px;
                    color: #FF7322;
                    width: 100%;
                }
                &-view{
                    margin-top: 40px;
                    h2{
                        font-weight: 500;
                        font-size: 28px;
                        line-height: 130%;
                        color: #161F3D;
                        @media(max-width: $xl){
                            font-weight: 600;
                            font-size: 20px;
                            margin-bottom: 0;
                        }
                    }
                    .rating{
                        .margin{
                            margin-top: 20px;
                            @media(max-width: $xl){
                                margin-top: 16px;
                            }
                            .star{
                                img{
                                    width: 18px;
                                    margin-right: 5px;
                                    @media(max-width: $xl){
                                        width: 10px;
                                        margin-right: 3px;
                                    }
                                }
                            }
                            .numb{
                                img{
                                    width: 24px;
                                    margin-right: 12px;
                                    margin-left: 7px;
                                }
                            }
                            p{
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 27px;
                                color: #757D95;
                                @media(max-width: $xl){
                                    font-size: 12px;
                                    line-height: 18px;
                                }
                            }
                        }
                    }
                    .shipping{
                        @media(max-width: $xl){
                            margin-top: 40px;
                        }
                        .logo{
                            margin-top: 20px;
                            @media(max-width: $xl){
                                margin-top: 16px;
                            }
                            img{
                                width: 80px;
                            }
                        }
                    }
                    .brand{
                        margin-right: 20px;
                        h2{
                            @media(max-width: $xl){
                                margin-top: -71px;
                                text-align: right;
                                margin-bottom: 0;
                                margin-right: 60px;
                            }
                        }
                        .text{
                            p{
                                font-weight: 500;
                                font-size: 22px;
                                line-height: 130%;
                                color: #161F3D;
                                text-align: right;
                                @media(max-width: $xl){
                                    margin-top: 15px;
                                    margin-right: 87px;
                                }
                            }
                        }
                    }
                    .description{
                        h2{
                            margin: 24px 0 0 0;
                        }
                        p{
                            margin: 16px 0 0 0;
                            font-size: 18px;
                            line-height: 30px;
                        }
                        &-details{
                            @media(max-width: $xl){
                                margin-top: 24px;
                            }
                            .d-flex{
                                margin-top: 16px;
                                @media(max-width: $xl){
                                    margin-top: 0;
                                    margin-bottom: 16px;
                                }
                                h4{
                                    font-weight: 500;
                                    font-size: 18px;
                                    line-height: 27px;
                                    color: #757D95;
                                    font-family: $poppins;
                                    width: 235px;
                                    margin-right: 130px;
                                    @media(max-width: $xl){
                                        color: #161F3D;
                                        font-size: 16px;
                                        line-height: 24px;
                                        width: 100%;
                                        margin-bottom: 0px;
                                    }
                                }
                                p{
                                    margin: 0;
                                }
                            }
                        }
                    }
                    .customers{
                        margin-bottom: 30px;
                        h2{
                            margin: 24px 0 0 30px;
                            @media(max-width: $xl){
                                margin: 40px 0 0 0;
                            }
                        }
                        &-saying{
                            margin-top: 24px;
                            padding: 0 70px;
                            @media(max-width: $xl){
                                padding: 0;
                            }
                            .slick-track{
                                padding: 0px !important;
                            }
                            .item{
                                background: #FFFFFF;
                                box-shadow: 0px 20px 80px rgba(56, 67, 95, 0.07);
                                border-radius: 16px;
                                padding: 24px;
                                width: 447px;
                                margin-right: 40px;
                                @media(max-width: $xl){
                                    width: 320px;
                                    box-shadow: none;
                                    border: 1px solid #B3B9CB;
                                    margin-right: 16px;
                                    padding: 16px 16px 24px;
                                }
                                .profile{
                                    .image{
                                        width: 40px;
                                        height: 40px;
                                        border-radius: 50%;
                                        margin-right: 16px;
                                        @media(max-width: $xl){
                                            margin-top: 0;
                                        }
                                        img{
                                            width: 100%;
                                            height: 100%;
                                            @media(max-width: $xl){
                                                height: 100% !important;
                                            }
                                        }
                                    }
                                    .text{
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 24px;
                                        color: #161F3D;
                                    }
                                }
                                .rate{
                                    margin: 16px 0 0;
                                    .star{
                                        display: flex;
                                        img{
                                            width: 18px;
                                            height: 18px;
                                            margin-right: 2px;
                                        }
                                    }
                                    p{
                                        margin: 3px 0 0 16px;
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 24px;
                                        color: #161F3D;
                                        @media(max-width: $xl){
                                            margin: 16px 0 0;
                                        }
                                    }
                                }
                                .lowhen{
                                    margin: 12px 0 0;
                                    @media(max-width: $xl){
                                        margin: 16px 0 0;
                                    }
                                    p{
                                        font-size: 16px;
                                        line-height: 24px;
                                        margin: 0;
                                    }
                                }
                                .size{
                                    margin: 12px 0 0;
                                    position: relative;
                                    @media(max-width: $xl){
                                        margin: 16px 0 0;
                                        padding-bottom: 23px;
                                    }
                                    p{
                                        font-size: 14px;
                                        line-height: 21px;
                                        margin:0;
                                    }
                                    span{
                                        font-size: 14px;
                                        line-height: 21px;
                                        margin:0 10px;
                                        font-family: $poppins;
                                    }
                                    .orange{
                                        color: #FF7322;
                                        @media(max-width: $xl){
                                            position: absolute;
                                            bottom: 0;
                                        }
                                    }
                                }
                                .description{
                                    margin: 12px 0 0;
                                    p{
                                        margin: 0;
                                        font-size: 15px;
                                        line-height: 22px;
                                        color: #161F3D;
                                    }
                                }
                                .helpful{
                                    margin: 16px 0 0;
                                    p{
                                        font-size: 14px;
                                        line-height: 21px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-for-more{
        margin: 150px 0;
        @media(max-width: $xl){
            margin: 100px 0 50px;
        }
        h1{
            font-weight: 600;
            font-size: 38px;
            line-height: 180%;
            max-width: 944px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            @media(max-width: $xl){
                font-size: 28px;
                line-height: 40px;
            }
        }
    }
}
.for-result{
    margin-bottom: 100px;
}